.container{
   width: 65%;
    height: 30rem;
    display: flex;
    background-color: aliceblue;
    margin: auto;
    padding: 4px;
    position: inherit;
    border: 1px solid rgb(134, 134, 134);
}

.container .left-container{
    width: 120vh;
    background-color: #54a8ff;
    margin: 0;
    padding: 0;
}

.container .left-container h1{
    width: 95%;
    margin: 1rem auto;
    font-size: 2rem;
    text-align: center;
}

.container .left-container .leftchild-container{
    display: flex;
}

.container .left-container img{
        height: 3rem;
    width: 3rem;
    filter: drop-shadow(2px 4px 6px black);
    margin: 1.3rem;
}

.container .left-container h2{
    /* width: 3rem; */
    margin: 1.5rem;
    margin-left: 1rem;
}

.container .right-container{
    width: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .right-container .rightChild-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.container .right-container .rightChild-container input{
    height: 2.5rem;
    width: 19rem;
    margin: 0.4rem 0;
    border-radius: 0.4rem;
    border: 0;
    border-bottom: 2px solid grey;
}

.container .right-container .rightChild-container button{
    height: 2rem;
    width: 7rem;
    margin: 1rem 0;
    border-radius: 0.4rem;
}

